<div class="d-flex justify-content-center mt-5">

  <div class="col-3">
    <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      </div>

<app-text-input formControlName="email" [lable]="'Email Address'">

</app-text-input>

<app-text-input formControlName="password" [lable]="'Password'" [type]="'password'">

</app-text-input>

<button [disabled]="loginForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> -->


    </form>
  </div>

<!-- <div class="col-4">
<p>Form Status: {{loginForm.status}}</p>
<p>Email Status: {{loginForm.get('email').status}}</p>
<p>Email Touchec: {{loginForm.get('email').touched}}</p>
<p>Email Dirty: {{loginForm.get('email').dirty}}</p>
<pre>
  {{loginForm.value | json}}
</pre>
</div>-->
</div>

